* {
  box-sizing: border-box;
}
.body{
  background-image: url('ya.jpg'); 
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#00FF7F;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:green;
}
.main {
  color:black;
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  color: red;
  background-color:#00FF7F;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  
  .menu, .main, .right {
    width:100%;
  }}